*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide{
    display: none;
}

.card{
    width: 500px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.btns button{
    padding: 5px;
    cursor: pointer;
}